<div class="page-header">
  <h3>{{'USER.USER_AUTO_NOTIFICATION.LB_CREATE_AUTO_NOTIFICATION'|translate}}</h3>
</div>
<div class="row-fluid">
  <form class="form-horizontal span12" ng-submit="createAutoNotification()">
    <div ng-class="{'control-group': true, 'error': input.showError.time}">
      <label class="control-label">{{'USER.USER_AUTO_NOTIFICATION.LB_SEND_TIME'|translate}}</label>
      <div class="controls">
        <datetimepicker ng-model="input.time" class="span3"
          pick-time="true" format="yyyy/MM/dd HH:mm" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">{{'USER.USER_AUTO_NOTIFICATION.LB_URL'|translate}}</label>
      <div class="controls">
          <input class="span6" type="url"  id="url" ng-model="input.url" required>
      </div>
    </div>
    <div ng-class="{'control-group': true, 'error': input.showError.content}">
      <label class="control-label" for="content">{{'USER.USER_AUTO_NOTIFICATION.LB_CONTENT'|translate}}</label>
      <div class="controls">
          
          <input type="text" class="span6" id="content" ng-model="input.content" maxlength="32" required />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a href="#/user/auto_notification_list" class="btn btn-warning">{{'FORM.BTN_CANCEL'|translate}}</a>
        <button type="submit"
          class="btn btn-primary">{{'FORM.BTN_SAVE'|translate}}</button>
      </div>
    </div>
  </form>
</div>