<div class="page-header">
  <div class="row-fluid">
    <div class="span8">
      <h3>{{'LOG.CHECK_PROFILE.TITLE'|translate}}</h3> 
    </div>
    <div class="span4 text-right">
      <button type="button" class="btn btn-primary" ng-click="exportCSV()">{{'FORM.BTN_EXPORT'|translate}}</button>
    </div>
  </div>
</div>

<form class="form-horizontal" ng-submit="searchCheckProfile()">
  <div class="row-fluid">
    <div class="span6">
      <fieldset>
        <legend>{{'LOG.CHECK_PROFILE.CHECK_PERSON'|translate}}</legend>

        <!-- User type -->
        <div class="control-group">
          <label class="control-label" for="userType">{{'USER.INFO.USER_TYPE'|translate}}</label>
          <div class="controls">
            <select id="userType" ng-model="check_profile.reqUserType" class="span12"
              ng-options="u.value as u.label for u in attributes.userTypes">
            </select>
          </div>
        </div>

        <!-- Email / Facebook ID -->
        <div class="control-group" ng-if="check_profile.reqUserType.toString().length > 0">
          <label class="control-label" for="account">
            {{check_profile.reqUserType|label:[attributes.userTypes, true]}}
          </label>
          <div class="controls">
            <input type="text" id="account" ng-model="check_profile.reqAccount" class="span12">
          </div> 
        </div>

        <!-- User ID -->
        <div class="control-group">
          <label class="control-label" for="userId">{{'USER.INFO.USER_ID'|translate}}</label>
          <div class="controls">
            <input type="text" id="userId" ng-model="check_profile.reqUserId" class="span12">
          </div> 
        </div>

        <!-- CM code -->
        <div class="control-group">
          <label class="control-label" for="cmCode">{{'USER.INFO.CM_CODE'|translate}}</label>
          <div class="controls">
            <input type="text" id="cmCode" ng-model="check_profile.reqCmCode" class="span12">
          </div> 
        </div>
      </fieldset>
    </div>

    <div class="span6">
      <fieldset>
        <legend>{{'LOG.CHECK_PROFILE.PERSON_WHO_IS_CHECKED'|translate}}</legend>

        <!-- User type -->
        <div class="control-group">
          <label class="control-label" for="partnerUserType">{{'USER.INFO.USER_TYPE'|translate}}</label>
          <div class="controls">
            <select id="partnerUserType" ng-model="check_profile.partnerUserType" class="span12"
              ng-options="u.value as u.label for u in attributes.userTypes">
            </select>
          </div>
        </div>

        <!-- Email / Facebook ID -->
        <div class="control-group" ng-if="check_profile.partnerUserType.toString().length > 0">
          <label class="control-label" for="partnerAccount">
            {{check_profile.partnerUserType|label:[attributes.userTypes, true]}}
          </label>
          <div class="controls">
            <input type="text" id="partnerAccount" ng-model="check_profile.partnerAccount" class="span12">
          </div> 
        </div>

        <!-- User ID -->
        <div class="control-group">
          <label class="control-label" for="partnerUserId">{{'USER.INFO.USER_ID'|translate}}</label>
          <div class="controls">
            <input type="text" id="partnerUserId" ng-model="check_profile.partnerUserId" class="span12">
          </div> 
        </div>

        <!-- CM code -->
        <div class="control-group">
          <label class="control-label" for="partnerCmCode">{{'USER.INFO.CM_CODE'|translate}}</label>
          <div class="controls">
            <input type="text" id="partnerCmCode" ng-model="check_profile.partnerCmCode" class="span12">
          </div> 
        </div>
      </fieldset>
    </div>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span6">
      <div class="control-group">
        <label class="control-label">{{'LOG.CHECK_PROFILE.TIME'|translate}}</label>
        <div class="controls">
          <div class="row-fluid">
            <datetimepicker class="span12" ng-model="check_profile.fromTime"
              pick-time="false" ng-label="true" label="{{'LAYOUT.DATE.FROM'|translate}}"/>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="row-fluid">
            <datetimepicker class="span12" ng-model="check_profile.toTime"
              pick-time="false" ng-label="true" label="{{'LAYOUT.DATE.TO'|translate}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="control-group">
    <label class="control-label" for="sortBy">{{'LOG.COMMON.SORT_BY'|translate}}</label>
    <div class="controls">
      <div class="form-inline">
        <select id="sortBy" ng-model="check_profile.sortBy"
          ng-options="c.value as c.label for c in attributes.sortBys">
        </select>
        &nbsp;&nbsp;
        <label class="radio" ng-repeat="item in attributes.orderBys">
          <input type="radio" name="order_by" value="{{item.value}}" ng-model="check_profile.orderBy">
          {{item.label}}
          &nbsp;&nbsp;
        </label>
        <button class="pull-right btn btn-primary" type="submit">{{'FORM.BTN_SEARCH'|translate}}</button>
      </div>
    </div>
  </div>
  <hr id="block-center-screen">
</form>

<div class="row-fluid">
  <div class="span8">
    <pagination 
      next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
      previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
      first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
      last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
      ng-hide="setting.totalItems <= setting.itemsPerPage"
      on-select-page="load(page)"
      class="span12"
      page="setting.currentPage"
      total-items="setting.totalItems"
      boundary-links="true"
      rotate="false"
      max-size="setting.numberPagesDisplay"
      items-per-page="setting.itemsPerPage">
    </pagination>
  </div>
  <div class="span4 text-right pagination">
    <span>{{'LIST.TOTAL_ITEMS'|translate}}&#58;&nbsp;{{setting.totalItems}}</span>
  </div>
</div>

<div class="row-fluid" ng-if="setting.totalItems">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th colspan="3">
          <span>{{'LOG.CHECK_PROFILE.CHECK_PERSON'|translate}}</span>
        </th>
        <th colspan="3">
          <span>{{'LOG.CHECK_PROFILE.PERSON_WHO_IS_CHECKED'|translate}}</span>
        </th>
        <th rowspan="2">
          <span>{{'LOG.CHECK_PROFILE.TIME'|translate}}</span>
        </th>
      </tr>
      <tr>
        <th>
          <span>{{'USER.INFO.USER_ID'|translate}}</span>
          <br>
          <span>{{'USER.INFO.USER_NAME'|translate}}</span>
        </th>
        <th>
          <span>{{'USER.INFO.USER_TYPE'|translate}}</span>
          <br>
          <span>
            {{'USER.INFO.EMAIL'|translate}}&nbsp;&#47;&nbsp;{{'USER.INFO.FACEBOOK_ID'|translate}}
          </span>
        </th>
        <th>
          <span>{{'USER.INFO.GROUP'|translate}}</span><br>
          <span>{{'USER.INFO.CM_CODE'|translate}}</span><br>
          <span>{{'USER.INFO.IP'|translate}}</span>
        </th>
        <th>
          <span>{{'USER.INFO.USER_ID'|translate}}</span>
          <br>
          <span>{{'USER.INFO.USER_NAME'|translate}}</span>
        </th>
        <th>
          <span>{{'USER.INFO.USER_TYPE'|translate}}</span>
          <br>
          <span>
            {{'USER.INFO.EMAIL'|translate}}&nbsp;&#47;&nbsp;{{'USER.INFO.FACEBOOK_ID'|translate}}
          </span>
        </th>
        <th>
          <span>{{'USER.INFO.GROUP'|translate}}</span><br>
          <span>{{'USER.INFO.CM_CODE'|translate}}</span>
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="profile in checkProfiles">
        <td>
          <span>
            <a href="#/user/user_detail/{{profile.req_id}}" target="_blank">{{profile.req_id}}</a>
            <!-- <a class="btn-link" ng-click="userDetail(profile.req_id)">{{profile.req_id}}</a> -->
          </span>
          <br>
          <span>{{profile.req_user_name == null ? 'LAYOUT.NO_DATA' : profile.req_user_name|translate}}</span>
        </td>
        <td>
          <span>{{profile.req_user_type|label:[attributes.userTypes, true]}}</span>
          <br>
          <span>{{profile.req_email == null ? 'LAYOUT.NO_DATA' : profile.req_email|translate}}</span>
        </td>
        <td>
          <span>{{profile.req_group == null ? 'LAYOUT.NO_DATA' : profile.req_group|translate}}</span>
          <br>
          <span>{{profile.req_cm_code == null ? 'LAYOUT.NO_DATA' : profile.req_cm_code|translate}}</span>
          <br>
          <span>{{profile.ip}}</span>
        </td>
        
        <td>
          <span>
            <a href="#/user/user_detail/{{profile.partner_id}}" target="_blank">{{profile.partner_id}}</a>
            <!-- <a class="btn-link" ng-click="userDetail(profile.partner_id)">{{profile.partner_id}}</a> -->
          </span>
          <br>
          <span>{{profile.partner_user_name == null ? 'LAYOUT.NO_DATA' : profile.partner_user_name|translate}}</span>
        </td>
        <td>
          <span>{{profile.partner_user_type|label:[attributes.userTypes, true]}}</span>
          <br>
          <span>{{profile.partner_email == null ? 'LAYOUT.NO_DATA' : profile.partner_email|translate}}</span>
        </td>
        <td>
          <span>{{profile.partner_group == null ? 'LAYOUT.NO_DATA' : profile.partner_group|translate}}</span><br>
          <span>{{profile.partner_cm_code == null ? 'LAYOUT.NO_DATA' : profile.partner_cm_code|translate}}</span>
        </td>
        
        <td>
          <span>{{profile.time|local:[true]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  <div class="span8">
    <pagination 
      next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
      previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
      first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
      last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
      ng-hide="setting.totalItems <= setting.itemsPerPage"
      on-select-page="load(page)"
      class="span12"
      page="setting.currentPage"
      total-items="setting.totalItems"
      boundary-links="true"
      rotate="false"
      max-size="setting.numberPagesDisplay"
      items-per-page="setting.itemsPerPage">
    </pagination>
  </div>
</div>