<div class="page-header">
  <div class="row-fluid">
    <div class="span8 ">
      <h3>{{'USER.USER_NEW_LOGIN.LB_LIST_NEW_LOGIN'|translate}}</h3>
    </div>
    <div class="span4 text-right" style="display : none;">
      <button type="submit" class="btn btn-primary">{{'FORM.BTN_EXPORT'|translate}}</button>
    </div>
  </div>
</div>
<p id="block-center-screen"></p>
<!--paging-->
<div class="row-fluid">
  <div class="span8">
    <pagination next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
      previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
      first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
      last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
      ng-hide="properties.total <= properties.pageSize"
      on-select-page="load(page)"
      page="properties.currentPage" total-items="properties.total" boundary-links="true"
      rotate="false" max-size="properties.pageDisplay" items-per-page="properties.pageSize" />
  </div>
  <div class="span4 text-right pargin-top-margin">
    <span>{{'LIST.TOTAL_ITEMS'|translate}}:&nbsp;{{properties.total|stat}}</span>
  </div>
</div>
<!--table -->
<div class="row-fluid">
  <table class="table table-bordered table-hover"
    ng-hide="totalItems === 0">
    <thead>
      <tr>
        <th class="span3">{{'USER.USER_NEW_LOGIN.LB_SEND_TIME'|translate}}</th>
        <th class="span3">{{'USER.USER_NEW_LOGIN.LB_URL'|translate}}</th>
        <th>{{'USER.USER_NEW_LOGIN.LB_CONTENT'|translate}}</th>
        <th class="span2">{{'USER.USER_NEW_LOGIN.LB_RECEIVER_NUMBER'|translate}}</th>
        <th class="span2">{{'USER.USER_NEW_LOGIN.LB_NUMBER_CLICK'|translate}}</th>
        <th class="span2">{{'USER.USER_NEW_LOGIN.LB_RATIO_CLICK'|translate}}</th>
        <th class="span2">{{'USER.USER_NEW_LOGIN.LB_DETAIL'|translate}}</th>
        <th class="span3"></th>
      </tr>
    </thead>
    <tbody ng-repeat="item in messages">
      <tr>
        <td>
          <div ng-hide="item.isEditMode">
            <input type="text" ng-disabled="true" class="span12"
              value="{{item.time|local:[true, 'yyyy/MM/dd HH:mm']}}">
          </div>

          <div ng-class="{'control-group': true, 'error': item.showError.time}" ng-show="item.isEditMode">
            <datetimepicker class="span12 invalid" pick-time="true" local="false"
              ng-model="item.localTime.time" format="yyyy/MM/dd HH:mm" />
          </div>
        </td>
        <td>
            <input class="span12" type="url" id="url" ng-model="item.url"  ng-disabled="!item.isEditMode" >
        </td>
        <td>
          <div ng-class="{'control-group': true, 'error': item.showError.content}">
              <input type="text" class="span12" ng-disabled="!item.isEditMode"  maxlength="32"
                  id="content-{{item.id}}" ng-model="item.content" form="edit-{{item.id}}" required />
          </div>
        </td>
        <td>
          <div class="text-center"><a class="btn-link" ng-click="infoDialog(item)">{{item.receiver_number}}</a></div>
        </td>
        <td>
          <div class="text-center">{{item.click_user_number}}</div>
        </td>
        <td>
          <div class="text-center">{{item.ratio_clicked_user}}<span ng-hide="item.ratio_clicked_user == null">%</span></div>
        </td>
         <td>
          <div class="text-center"><a class="btn-link" ng-click="infoDetail(item)">{{'USER.USER_AUTO_NOTIFICATION.LB_DETAIL'|translate}}</a></div>
        </td>
        <td>
          <form id="edit-{{item.id}}" ng-submit="save(item)">
            <span>
              <button type="button" ng-show="item.isEditMode" class="btn btn-warning"
                ng-click="cancel(item)">{{'FORM.BTN_CANCEL'|translate}}</button>
            </span>
            <span>
              <button type="submit" ng-show="item.isEditMode" class="btn btn-primary">
                {{'FORM.BTN_SAVE'|translate}}
              </button>
            </span>  
          </form>
          
          <span>
            <button type="button" ng-hide="item.isEditMode" class="btn btn-info"
              ng-if="item.canEdit"
              ng-click="edit(item)">{{'FORM.BTN_EDIT'|translate}}</button>
          </span>
          
          <span>
            <button type="button" ng-hide="item.isEditMode" class="btn btn-danger"
              ng-click="remove(item)">{{'FORM.BTN_DELETE'|translate}}</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--paging-->
<div class="row-fluid">
  <pagination next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
    previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
    first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
    last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
    ng-hide="properties.total <= properties.pageSize"
    on-select-page="load(page)"
    page="properties.currentPage" total-items="properties.total" boundary-links="true"
    rotate="false" max-size="properties.pageDisplay" items-per-page="properties.pageSize" />
</div>

