<div class="modal-header">
  <h4>{{'USER.USER_DETAIL.RESET_PASSWORD'|translate}}</h4>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <form class="form-horizontal" ng-submit="changePassword()" id="add-point-form">
      <!-- New password -->
      <div class="control-group">
        <label class="control-label" for="password">{{'ACCOUNT.INFO.NEW_PASSWORD'|translate}}</label>
        <div class="controls">
          <input id="password" ng-trim="false" type="password" ng-model="input.newPassword" pattern=".{6,60}" required>
        </div>
      </div>
      
      <!-- Confirm new password -->
      <div class="control-group">
        <label class="control-label" for="confirm">{{'ACCOUNT.INFO.CONFIRM_PASSWORD'|translate}}</label>
        <div class="controls">
          <input id="confirm" ng-trim="false" type="password" ng-model="input.confirmNewPassword" pattern=".{6,60}" required>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="close()">{{'DIALOG.CANCEL'|translate}}</button>
  <button type="submit" class="btn btn-primary"
    form="add-point-form">{{'DIALOG.CONFIRM'|translate}}</button>
</div>