<div class="modal-header">
    <h4>{{'USER.POINT_HISTORY.TITLE'|translate}}</h4>
</div>
<div class="modal-body">

    <!-- User ID -->
    <div class="row-fluid">
        <label class="span2">{{'USER.INFO.USER_ID'|translate}}</label>
        <span class="text-info span8">{{user.user_id}}</span>
    </div>

    <!-- User Name -->
    <div class="row-fluid">
        <label class="span2">{{'USER.INFO.USER_NAME'|translate}}</label>
        <span class="text-info span10">{{user.user_name}}</span>
    </div>

    <!-- Current point -->
    <div class="row-fluid">
        <label class="span2">{{'USER.USER_LIST.LB_POINT'|translate}}</label>
        <span class="text-info span10">{{user.point}}</span>
    </div>
    <!-- add pagination -->
    <p id="block-center-screen"></p>
    <div class="row-fluid">
        <div class="span8">
            <pagination
                next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
                previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
                first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
                last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
                ng-hide="setting.totalItems <= setting.itemsPerPage"
                on-select-page="load(page)"
                class="span12"
                page="setting.currentPage"
                total-items="setting.totalItems"
                boundary-links="true"
                rotate="false"
                max-size="setting.numberPagesDisplay"
                items-per-page="setting.itemsPerPage">
            </pagination>
        </div>
        <div class="span4 text-right pargin-top-margin">
            <span>{{'USER.USER_LIST.LB_TOTAL_ITEM'|translate}}:&nbsp;{{setting.totalItems}}</span>
        </div>
    </div>
    <!-- end add pagination -->
    <div class="table-responsive" >
        <table class="table table-hover table-bordered " style="white-space : inherit">
            <thead>
                <tr>
                    <th>
                        <span>{{'USER.POINT_HISTORY.TB_TIME'|translate}}</span>
                    </th>
                    <th>
                        <span>{{'USER.POINT_HISTORY.TB_WHY'|translate}}</span>
                    </th>
                    <!--10_06_2014-->
                    <th  width="9%" >
                        <span>{{'USER.POINT_HISTORY.BEFORE_POINT'|translate}}</span>
                    </th>
                    <th  width="9%">
                        <span>{{'USER.POINT_HISTORY.TB_POINT'|translate}}</span>
                    </th>
                    <th  width="9%">
                        <span>{{'USER.POINT_HISTORY.AFTER_POINT'|translate}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pointLog">
                    <td>
                        <span>{{item.time|local:[true]}}</span>
                    </td>
                    <td>
                        <span ng-if="item.isSetPartnerId" ng-bind-html="item.type"></span>
                        <span ng-if="!item.isSetPartnerId">{{item.type|label:[reasons]}}</span>
                    </td>
                    <!--10_06_2014-->
                    <td>
                        <span>{{item.before_point|stat}}</span>
                    </td>
                    <td>
                        <span>{{item.point|stat}}</span>
                    </td>
                    <td>
                        <span>{{item.after_point|stat}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- add pagination -->
    <div class="row-fluid">
        <div class="span8">
            <pagination
                next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
                previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
                first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
                last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
                ng-hide="setting.totalItems <= setting.itemsPerPage"
                on-select-page="load(page)"
                class="span12"
                page="setting.currentPage"
                total-items="setting.totalItems"
                boundary-links="true"
                rotate="false"
                max-size="setting.numberPagesDisplay"
                items-per-page="setting.itemsPerPage">
            </pagination>
        </div>
    </div>
    <!-- end add pagination -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="close()">{{'DIALOG.CLOSE'|translate}}</button>
</div>
