<div class="page-header"> 
  <div class="row-fluid">
    <div class="span8 ">
      <h3>{{'LOG.USER_BLOCK_LOG.TITLE'|translate}}</h3> 
    </div>
    <div class="span4 text-right">
      <button type="button" class="btn btn-primary"
        ng-click="exportCSV()">{{'FORM.BTN_EXPORT'|translate}}</button>
    </div>
  </div>
</div> 
<!--Form search-->
<form class="form-horizontal" ng-submit="searchUserBlockLog()">
  <div class="row-fluid">
    <!-- Request -->
    <div class="span6">
      <fieldset>
        <legend>{{'LOG.USER_BLOCK_LOG.PERSON_BLOCK'|translate}}</legend>

        <div class="control-group">
          <label class="control-label" for="reqUserType">{{'USER.INFO.USER_TYPE'|translate}}</label>
          <div class="controls">
            <select class="span12" id="reqUserType" ng-model="user_block.reqUserType"
              ng-options="ut.value as ut.label for ut in attributes.userTypes">
            </select>
          </div>
        </div>

        <div class="control-group" ng-if="user_block.reqUserType.toString().length > 0">
          <label class="control-label" for="reqAccount">
            {{user_block.reqUserType | label:[attributes.userTypes, true]}}</label>
          <div class="controls">
            <input type="text" class="span12" id="reqAccount" ng-model="user_block.reqAccount">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="userId">{{'USER.INFO.USER_ID'|translate}}</label>
          <div class="controls">
            <input type="text" class="span12" id="userId" ng-model="user_block.reqUserId">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="reqCmCode">{{'USER.INFO.CM_CODE'|translate}}</label>
          <div class="controls">
            <input type="text" class="span12" ng-model="user_block.reqCmCode" id="reqCmCode">
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Partner -->
    <div class="span6">
      <fieldset>
        <legend>{{'LOG.USER_BLOCK_LOG.PERSON_WHO_BLOCK'|translate}}</legend>

        <div class="control-group">
          <label class="control-label" for="pUserType">{{'USER.INFO.USER_TYPE'|translate}}</label>
          <div class="controls">
            <select class="span12" id="pUserType" ng-model="user_block.partnerUserType"
              ng-options="p.value as p.label for p in attributes.userTypes">
            </select>
          </div>
        </div>

        <div class="control-group" ng-if="user_block.partnerUserType.toString().length > 0">
          <label class="control-label" for="pAccount">
            {{user_block.partnerUserType | label:[attributes.userTypes, true]}}
          </label>
          <div class="controls">
            <input class="span12" type="text" id="pAccount" ng-model="user_block.partnerAccount">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="pUserId">{{'USER.INFO.USER_ID'|translate}}</label>
          <div class="controls">
            <input type="text" class="span12" id="pUserId" ng-model="user_block.partnerUserId">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="pCmCode">{{'USER.INFO.CM_CODE'|translate}}</label>
          <div class="controls">
            <input type="text" class="span12" id="pCmCode" ng-model="user_block.partnerCmCode">
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <!-- Date time -->
  <hr>
  <div class="row-fluid">
    <div class="span6">
      <div class="control-group">
        <label class="control-label">{{'LOG.USER_BLOCK_LOG.BLOCK_UNBLOCK_TIME'|translate}}</label>
        <div class="controls">
          <datetimepicker class="span12" ng-model="user_block.fromTime"
            pick-time="false" ng-label="true" label="{{'LAYOUT.DATE.FROM'|translate}}"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <datetimepicker class="span12" ng-model="user_block.toTime"
            pick-time="false" ng-label="true" label="{{'LAYOUT.DATE.TO'|translate}}"/>
        </div>
      </div>
    </div>
  </div>

  <!-- Search and sort by -->
  <hr>
  <div class="control-group">
    <label for="inputUserOrder" class="control-label">{{'LOG.COMMON.SORT_BY'|translate}}</label>
    <div class="controls">
      <div class="form-inline">
        <select id="order_by" ng-model="user_block.sortBy">
          <option value="1">{{'LOG.USER_BLOCK_LOG.BLOCK_UNBLOCK_TIME'|translate}}</option>
        </select>
        &nbsp;&nbsp;
        <label class="radio" ng-repeat="item in attributes.orderBys">
          <input type="radio" name="order_by" ng-model="user_block.orderBy" value="{{item.value}}">
          <span>{{item.label}}</span>
          &nbsp;&nbsp;
        </label>
        <button type="submit" class="btn btn-primary pull-right">{{'FORM.BTN_SEARCH'|translate}}</button>
      </div>
    </div>
  </div>
</form>

<hr id="block-center-screen">

<!-- btn paging -->
<div class="row-fluid">
  <div class="span8">
    <pagination
      next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
      previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
      first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
      last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
      ng-hide="setting.totalItems <= setting.itemsPerPage"
      on-select-page="load(page)"
      class="span12"
      page="setting.currentPage"
      total-items="setting.totalItems"
      boundary-links="true"
      rotate="false"
      max-size="setting.numberPagesDisplay"
      items-per-page="setting.itemsPerPage">
    </pagination>
  </div>
  <div class="span4 text-right pagination">
    <span>{{'LIST.TOTAL_ITEMS'|translate}}&#58;&nbsp;{{setting.totalItems}} </span></div>
</div>
<!-- table -->
<div class="row-fluid" ng-show="setting.totalItems" >
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">{{'LOG.USER_BLOCK_LOG.PERSON_BLOCK'|translate}}</th>
          <th colspan="3">{{'LOG.USER_BLOCK_LOG.PERSON_WHO_BLOCK'|translate}}</th>
          <th rowspan="2">{{'LOG.USER_BLOCK_LOG.BLOCK'|translate}}&nbsp;&#47;&nbsp;{{'LOG.USER_BLOCK_LOG.UNBLOCK'|translate}}</th>
          <th rowspan="2">{{'LOG.USER_BLOCK_LOG.BLOCK_UNBLOCK_TIME'|translate}}</th>
        </tr>

        <tr>
          <th>
            <span>{{'USER.INFO.USER_ID'|translate}}</span><br>
            <span>{{'USER.INFO.USER_NAME'|translate}}</span>
          </th>
          <th>
            <span>{{'USER.INFO.USER_TYPE'|translate}}</span><br/>
            <span>{{'USER.INFO.EMAIL'|translate}}&nbsp;&#47;&nbsp;{{'USER.INFO.FACEBOOK_ID'|translate}}</span>
          </th>
          <th>
            <span>{{'USER.INFO.GROUP'|translate}}</span><br/>
            <span>{{'USER.INFO.CM_CODE'|translate}}</span><br/>
            <span>{{'USER.INFO.IP'|translate}}</span><br/>
          </th>
          <th>
            <span>{{'USER.INFO.USER_ID'|translate}}</span><br>
            <span>{{'USER.INFO.USER_NAME'|translate}}</span>
          </th>
          <th>
            <span>{{'USER.INFO.USER_TYPE'|translate}}</span><br/>
            <span>{{'USER.INFO.EMAIL'|translate}}&nbsp;&#47;&nbsp;{{'USER.INFO.FACEBOOK_ID'|translate}}</span>
          </th>
          <th>
            <span>{{'USER.INFO.GROUP'|translate}}</span><br/>
            <span>{{'USER.INFO.CM_CODE'|translate}}</span><br/>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in userBlockLogList">
          <td>
            <span>
              <a href="#/user/user_detail/{{item.req_id}}" class="btn-link" target="_blank">{{item.req_id}}</a>
              <!-- <a class="btn-link" ng-click="userDetail(item.req_id)">{{item.req_id}}</a> -->
            </span>
            <br/>
            <span>{{item.req_user_name}}</span>
          </td>
          <td>
            <span>{{item.req_user_type | label:[attributes.userTypes, true]}}</span>
            <br/>
            <span>{{item.req_email}}</span>
          </td>
          <td>
            <span>{{item.req_group == null ? 'LAYOUT.NO_DATA' : item.req_group|translate}}</span>
            <br>
            <span>{{item.req_cm_code == null ? 'LAYOUT.NO_DATA' : item.req_cm_code|translate}}</span>
            <br/>
            <span>{{item.ip}}</span>
          </td>
          <td>
            <span>
              <a href="#/user/user_detail/{{item.partner_id}}" class="btn-link" target="_blank">{{item.partner_id}}</a>
              <!-- <a class="btn-link" ng-click="userDetail(item.partner_id)">{{item.partner_id}}</a> -->
            </span>
            <br/>
            <span>{{item.partner_user_name}}</span>
          </td>
          <td>
            <span>{{item.partner_user_type | label:[attributes.userTypes, true]}}</span>
            <br/>
            <span>{{item.partner_email}}</span>
          </td>
          <td>
            <span>{{item.partner_group == null ? 'LAYOUT.NO_DATA' : item.partner_group|translate}}</span>
            <br>
            <span>{{item.partner_cm_code == null ? 'LAYOUT.NO_DATA' : item.partner_cm_code|translate}}</span>
          </td>
          <td>
            <span>{{item.type | label:[attributes.types, true]}}</span>
          </td>
          <td>
            <span>{{item.time|local:[true]}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- btn paging -->
<div class="row-fluid">
  <div class="span8">
    <pagination
      next-text="{{'SETTINGS.GENERAL.PAGING.NEXT'|translate}}"
      previous-text="{{'SETTINGS.GENERAL.PAGING.PREVIOUS'|translate}}"
      first-text="{{'SETTINGS.GENERAL.PAGING.FIRST'|translate}}"
      last-text="{{'SETTINGS.GENERAL.PAGING.LAST'|translate}}"
      ng-hide="setting.totalItems <= setting.itemsPerPage"
      on-select-page="load(page)"
      class="span12"
      page="setting.currentPage"
      total-items="setting.totalItems"
      boundary-links="true"
      rotate="false"
      max-size="setting.numberPagesDisplay"
      items-per-page="setting.itemsPerPage">
    </pagination>
  </div>
</div>

