<!DOCTYPE html>
<html>
  <head>
    <title>{{ 'TITLE.TITLE_COMMON' | translate }}</title>
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/multiselect/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-fix.css">
    <link rel="stylesheet" type="text/css" href="css/basic.css">
    <!-- IMPORT Javascript | BEGIN -->
    <script type="text/javascript" src="lib/createjs/preloadjs-0.4.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/manifest.js"></script>
    <script type="text/javascript" src="js/bootstrap/preload.js"></script>
    <!-- IMPORT Javascript | END -->
  </head>
  <body>
    <div id="loading-area">
      <p><b>Initliazing web application...</b></p>
      <div>
        [<span id="loading-overall-progress"></span>]
        <span id="loading-target"></span>
        <div id="error-message"></div>
      </div>
    </div>
    <div id="main-body" style="display: none;">
    <div ng-controller="DialogController"></div>
    <div class="navbar" ng-controller="AppCtrl">
      <div class="navbar-inner">
        <a class="brand" href="#">{{ 'LAYOUT.APP_TITLE' | translate }}</a>
        <ul class="nav pull-right">
          <li>
            <form class="navbar-form">
              <select ng-model="selectedLanguage" ng-change="changeLanguage()" 
                ng-options="d.value as d.label for d in properties.languages"></select>
            </form>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <button type="button" class="btn btn-link" ng-click="changePassword()">{{ 'LAYOUT.CHANGE_PASSWORD' | translate }}</button>
          </li>
          <li>
            <button type="button" class="btn btn-link" ng-click="logout()">{{ 'LAYOUT.LOGOUT' | translate }}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- Left menu -->
        <div class="span2" id="menu_ctrl" ng-controller="MenuCtrl">
          <!-- List group -->
          <ul class=" nav nav-tabs nav-stacked nav-pills" ng-repeat="item in menu.groups track by $index">
            <li class="active">
              <a><b>{{ 'MENU.' + item.name + '.TITLE' | translate }}</b></a>
            </li>
            <li ng-repeat="child in item.screens track by $index">
              <a ng-href="{{ '#' + child.path }}" ng-click="redirectUrl($event)">{{ 'MENU.' + item.name + '.' + child.name | translate }}</a>
            </li>
          </ul>
        </div>
        <div class="span10" ng-view>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>