<div class="page-header">
  <h3>{{'CHANGE_PASSWORD.PAGE_TITLE'|translate}}</h3>
</div>
<form class="form-horizontal span6" ng-submit="changePassword()">
  <div class="control-group">
    <label class="control-label" for="oldPassword">{{'ACCOUNT.INFO.CURRENT_PASSWORD'|translate}}</label>
    <div class="controls">
      <input type="password" id="oldPassword" autofocus
        ng-model="input.oldPassword" required class="span12">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="newPassword">{{'ACCOUNT.INFO.NEW_PASSWORD'|translate}}</label>
    <div class="controls">
      <input type="password" id="newPassword"
        ng-model="input.newPassword" required class="span12">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="confirmPassword">{{'ACCOUNT.INFO.CONFIRM_PASSWORD'|translate}}</label>
    <div class="controls">
      <input type="password" id="confirmPassword"
        ng-model="input.confirmPassword" required class="span12">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">{{'FORM.BTN_SAVE'|translate}}</button>
    </div>
  </div>
</form>